a, p {
    color: black;
    font-family: "Fira Code", serif;
    font-size: 25px;
    padding: 4px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


h1 {
    font-weight: bold;
}

tr, td {
    border: thin solid black;
    padding: 3px;
    font-family: "Fira Code", serif;
    font-size: 23px;
    font-weight: normal;
    text-align: center;
    width: 200px;
}

th {
    border: thin solid black;
    padding: 3px;
    font-family: "Fira Code", serif;
    font-size: 23px;
    font-weight: bolder;
    text-align: center;
    width: 200px;
}

body {
    padding: 20px;
    height: 100%;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: #adb6c8;
}

button {
    color: #000000;
    background-color: #dfe6ff;
    font-size: 18px;
    height: 40px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-left: 20px;
    margin-top: 20px;
}

.form-group {
    display: flex;
    margin-bottom: 15px;
}

label {
    width: 200px;
    font-weight: bold;
    font-size: 20px;
}

input {
    flex: 1;
    font-size: 20px;
    padding: 5px;
}

table {
    border: 1px black;
    border-collapse: collapse;
}

div {
    margin-top: 20px;
    margin-left: 20px;
}