a, p {
    color: black;
    font-family: "Fira Code", serif;
    font-size: 25px;
    padding: 4px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: #000000;
}

body {
    padding: 20px;
    height: 100%;
    margin: 0;
    background-color: #adb6c8;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: #adb6c8;
}

button {
    background-color: aliceblue;
    color: #000000;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: lightsteelblue;
}

button:focus {
    outline: none;
}
