a {
    color: black;
    font-family: "Fira Code", serif;
    font-size: 25px;
    padding: 4px;
}

h1 {
    font-style: italic;
}


body {
    padding: 20px;
    height: 100%;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: #adb6c8;
}